* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$semi-dark: #335145;
$dark: #1e352f;
$main-green: #828c51;
$light: #d6f3ba;
$attack: #ce2415;

body {
    width: 100vw;
    height: 100vh;
    background: $dark;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    background-color: $semi-dark;
    height: 13vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 10px #000;

    h1 {
        font-size: 4rem;
        text-decoration: underline;
    }
}

footer {
    background-color: $dark;
    height: 5vh;
    box-shadow: 0px -2px 10px #000;
}

main {
    flex-grow: 1;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

#player-one-wrap, #player-two-wrap {
    padding: 60px;
    background-color: $main-green;
    box-shadow: 0px 5px 10px -2px #000;
    border-radius: 5px;
}
#player-one-wrap.turn, #player-two-wrap.turn {
    outline: none;
    
}

#player-one-wrap.turn #board-one, #player-two-wrap.turn #board-two {
    border-bottom: 4px solid $semi-dark;
}

#board-one, #board-two {
    border-bottom: 4px solid $attack;
    width: min-content;
    height: min-content;
    background: $light;

    div {
        display: flex;

        div {
            width: 30px;
            height: 30px;
            border: 1px solid $dark;
            cursor: crosshair;
            transition: background 500ms;

            &:hover {
                border: 1px solid $attack;
            }
        }
    }
}
#board-one div div:hover {
    border: 1px solid $dark;
}

.hit {
    background-image: url(./assets/icons/hit.svg);
    background-size:cover;
}
#board-one .ok {
    background-color: $dark;
}
.miss {
    background-image: url(./assets/icons/miss.svg);
    background-size:cover;
}
.sunk {
    background-color: $attack;
}