* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    background: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    flex-grow: 1;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#player-one-wrap, #player-two-wrap {
    padding: 1rem;
    background-color: #333;

}
#player-one-wrap.turn, #player-two-wrap.turn {
    background-color: green;
}


#board-one, #board-two {
    border: 2px solid #FFF;
    width: min-content;
    height: min-content;
    background: #ccc;

    div {
        display: flex;

        div {
            width: 30px;
            height: 30px;
            border: 1px solid #000;

            &:hover {
                background-color: green;
            }
        }
    }
}
.hit {
    background-color: red;
}
.ok {
    background-color: #333;
}
.miss {
    background-color: yellow;
}